.main-layout {
  overflow-x: auto;
  height: 100vh;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-dark-blue;
    padding: 2rem 3rem;
    box-shadow: 0px 2px 4px rgba(3, 2, 2, 0.12);
  }
  .sidebar-outlet-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .sidebar {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background: #f4a261;
      margin: 2rem;
      padding: 2rem;
      width: 20%;
      height: 65vh;
      box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.12);
      border-radius: 0.5rem;

      hr {
        margin: 0 -1.8rem;
      }
    }
    .dashboard {
      margin: 2rem 2rem 2rem 0;
      padding: 2rem;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
      display: flex;
      flex: 1;
      background: #f5efff;
      min-height: 65vh;
    }
  }
  .footer {
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-light-blue;
    padding: 2rem 3rem;
  }
}
